# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/

# Local outputs
results/*
!results/.gitkeep

data/*
!data/.gitkeep

cache/*
!cache/.gitkeep

# Large tarballs (exported Docker images)
*.tar
